<!DOCTYPE html>
<html>

<head>
    <title>Create Loan</title>
</head>

<body>

    <a href="/">🏠 Home</a>

    <h2>Create Loan</h2>

    <form action="/loans/save" method="post">
        <label>Member:</label>
        <select name="member.id" required>
        <option th:each="m : ${members}" 
                th:value="${m.id}" 
                th:text="${m.name}">
        </option>
    </select>
        <br><br>

        <label>Loan Amount:</label>
        <input type="number" name="loanAmount" required />
        <br><br>

        <label>Interest Amount:</label>
        <input type="number" name="interestAmount" required />
        <br><br>

        <label>Total Weeks:</label>
        <input type="number" name="totalWeeks" required />
        <br><br>

        <button type="submit">Save Loan</button>
    </form>

</body>

</html>