<!DOCTYPE html>
<html>

<head>
    <title>Groups</title>
</head>

<body>

    <a href="/">🏠 Home</a>

    <h2>Create Group</h2>
    <form action="/groups/save" method="post">
        <input type="text" name="name" placeholder="Group Name" required />
        <button type="submit">Save</button>
    </form>

    <h2>All Groups</h2>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
        <tr th:each="g : ${groups}">
            <td th:text="${g.name}"></td>
            <td>
                <a th:href="@{/groups/delete/{id}(id=${g.id})}">Delete</a>
            </td>
        </tr>
    </table>

</body>

</html>