<!DOCTYPE html>
<html>

<head>
    <title>Create Loan</title>
</head>

<body>

    <h2>Create Loan</h2>

    <form action="/loans/save" method="post">

        <label>Member</label>
        <select name="member.id" required>
        <option value="">Select</option>
        <option th:each="m : ${members}"
                th:value="${m.id}"
                th:text="${m.name}">
        </option>
    </select>
        <br><br>

        <label>Principal Amount</label>
        <input type="number" name="principalAmount" required>
        <br><br>

        <label>Interest Amount</label>
        <input type="number" name="interestAmount" required>
        <br><br>

        <label>Repayment Weeks</label>
        <input type="number" name="repaymentWeeks" required>
        <br><br>

        <button type="submit">SAVE</button>

    </form>

</body>

</html>